:root {
    --bg-main-color: #170c06;
    --bg-image-width: 880px;
    --bg-image-height: 710px;
    --bg-window-width2: 578px;
    --bg-window-height-jalousie: 522px;
    --bg-window-height: 538px;
    --bg-margin-window2: 155px;
    --bg-margin-window: calc(0.176 * var(--bg-image-width));
    --bg-window-width: calc(0.657 * var(--bg-image-width));
    --card-width: 130px;
    --card-height: 150px;
    }

html {
    height: 100%;
}

body {
    background-image: linear-gradient(50deg, var(--bg-main-color), var(--bg-main-color), var(--bg-main-color), var(--bg-main-color), rgba(30,10,10, 1), rgba(40,30,20, 1));
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-color: var(--bg-main-color);
}

gameDiv {
    background-image: url("./static/bgg.png");
    background-color: yellow;
    display: flex;
    width: var(--bg-image-width);
    height: var(--bg-image-height);
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

innerGameDiv {
    background-color: var(--bg-main-color);
    /*background-image: url("./static/wall3.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: var(--bg-window-width);
    height: var(--bg-window-height);
    margin-top: 0px;
    margin-left: var(--bg-margin-window);
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-around;
}

innerGameDiv img {
    margin: 0px;
    transform-style: preserve-3d;
    transition:cubic-bezier(0.86, 0, 0.07, 1);
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;   
    backface-visibility: hidden;
    border-radius: 6px;
    /*border: 6px solid rgb(172, 128, 128);
    box-sizing: border-box;*/
    outline: 6px solid rgb(172, 128, 128);
    outline-offset: -6px;
    padding: 0;
}

innerGameDiv img:active {
    transform:rotateY(45deg);
    transition:cubic-bezier(0.86, 0, 0.07, 1);
}

innerGameDiv img.flip {
    
    transition: transform 0.5s;
}

innerGameDiv img.matched {
    opacity: 0;
}

innerGameDiv img.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
}

statusBoard {
    letter-spacing: 5px;
    width: 200px;
    height: 700px;
    margin-top: 50px;
    margin-left: var(--bg-image-width);
    position: absolute;
    display: flex;
    flex-direction: column;
    column-count: 1;
}

timeBoard, clickBoard {
    margin: 5px;
}

timeBoard {
    /*transform-style: preserve-3d;
    transform: skew(0deg, 10deg);
    perspective: 100px;*/
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin-left: 100px;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(to bottom right, var(--bg-main-color), #211);
    color:papayawhip;
    text-shadow: 0 0 10px plum, 0 0 20px pink, 0 0 30px peachpuff;
    /*box-shadow: 0px 4px 8px rgba(220,180,100,0.1), 0 2px 4px rgba(240,140,110,0.1);*/
    border-radius: 100px;
    opacity: 0.8;
    border: 5px solid var(--bg-main-color);
    position: absolute;
}

clickBoard {
    transform-style: preserve-3d;
    transform: skew(0deg, 10deg);
    transform: rotate(5deg);
    perspective: 100px;
    /*background-image: radial-gradient(farthest-corner at 40% 10%, rgba(0,0,0,0.2), rgba(23,12,6,0.4), rgba(23,12,6,0.9), rgba(23,12,6,1)), url(./static/menu.png);*/
    background-image: linear-gradient(170deg, rgba(0,0,0,0.2), rgba(23,12,6,0.4), rgba(23,12,6,1), rgba(23,12,6,1)), url(./static/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 520px;
    width: 220px;
    padding-top: 70px;
    margin-top: 350px;
    margin-left: 80px;
    color: rgba(255,255,255,0.6);
    font-size: 23px;
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.8;

}

playAgainButton {
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
}

playAgainButton:hover {
    color: white;
    transform: scale(1.01);
}

